body {
	background-color: #F9F9F9;
}
.header {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
.hr {
	color: #88BBD6;
	border-style: outset;
	width: 95%;
}
.table {
	display: table;
	width: 90%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
.table_heading {
	background-color: #88BBD6;
	font-weight: bold;
	color: #FFFFFF;
	display: table-row;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
.row {
	display: table-row;
	height: 100%;
}
.cell {
	display: table-cell;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
.cell-topic {
	display: table-cell;
	padding: 0.5% 0.5% 0.5% 0.5%;
	-webkit-transition: background-color 1s;
}
/* Using transitions to turn topic titles blue on hover: */
.cell-topic:hover {
	background-color: #99D3DF;
}
.cell-fluency {
	display: table-cell;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
.cell-date {
	display: table-cell;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
.cell-comment {
	display: table-cell;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
.table_body {
	display: table-row-group;
}